body {
    font-family: 'Lato';
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/thesimpsons_couch_zoom_aa570da9.webp);
    height: 100vh;
}

.event {
    padding: 20px;
    border: 1px solid black;
    background-color: gold;
    border-radius: 15px;
    font-size: x-large;
}